[submodule "external/Bcrypt"]
	path = external/Bcrypt
	url = https://github.com/kay-smith/Bcrypt.cpp
[submodule "external_deps/Bcrypt"]
	path = external_deps/Bcrypt
	url = https://github.com/kay-smith/Bcrypt.cpp
[submodule "external/jwt-cpp"]
	path = external/jwt-cpp
	url = https://github.com/kay-smith/jwt-cpp.git
[submodule "external_deps/jwt-cpp"]
	path = external_deps/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "external/Bcrypt.cpp"]
	path = external/Bcrypt.cpp
	url = https://github.com/kay-smith/Bcrypt.cpp.git
[submodule "external_deps/Bcrypt.cpp"]
	path = external_deps/Bcrypt.cpp
	url = https://github.com/kay-smith/Bcrypt.cpp.git
