[submodule "external/Bcrypt"]
	path = external/Bcrypt
	url = https://github.com/kay-smith/Bcrypt.cpp
[submodule "external_deps/Bcrypt"]
	path = external_deps/Bcrypt
	url = https://github.com/kay-smith/Bcrypt.cpp
